.editor-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 40px 10px 0px 10px;
}

.editor-wrapper .feed-title {
    width: 100%;
}

.editor-wrapper .feed-title h1 {
    height: 65px;
    display: flex;
    align-items: center;
}

.editor-wrapper .feed-title h1> input {
    height: 100%;
    font-size: xx-large;
    border: 0;
    width: 100%;
    overflow: scroll;
}
.editor-wrapper .feed-title h1> input:focus {
    outline:none !important;
}

.editor-wrapper .buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.editor-wrapper .buttons> button {
    font-size: large;
    background: #fff;
    border: 1px solid #dfdfdf;
    padding: 20px;
    margin: 30px 10px 0px;
}