.feed-container {
    flex-direction: column;
    justify-content: unset !important;
    padding: 38px
}

.feed-top {
    width: 100%;
    height: 80px;
}

.feed-container .feed-content {
    height: auto !important;
    overflow: auto !important;
}