.to-login-wrapper {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.to-login-welcome,
.to-login,
.to-login-loading {
    margin-right: 5%;
    display: flex;
    height: 35px;
    flex-flow: column;
    align-items: flex-end;
    line-height: 100%;
}

.to-login {
    border: 2px solid #748BFF;
    padding: 10px;
    border-bottom: 0;
}

.to-login> label {
    margin-right: 20px;
}

#to-login-link {
    text-decoration: underline;
    color: #fff;
}

.to-login-welcome a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}